.overlay *{
	font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 3em; line-height:1.2em; margin:0 0 .3em; }
h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .3em;  }
h3 { font-size: 1.4em; line-height:1.4em; }
h4 { font-size: 1.25em; line-height:1.4em;}
h5 { font-size: 1.1em; line-height:1.4em; }
h6 { font-size: 1em; line-height:1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none
}	 
p { 
	padding: 0 0 1em;
	margin:0;
}
a {
	color: #3eb0f7;
	outline: 0;
	font-weight: bold;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
} 
a:hover {
	text-decoration: none;
	color: #1f2222;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.highlight {
	color: #3eb0f7;
}
#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #fff url(../images/loading.gif) no-repeat center center;
}
.fullscreen {
	width:100%;
	min-height:100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-position:50% 50%\9 !important;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
#menu {
	z-index: 99;
}

.form-header .btn.fit-btn{
	padding: 14px 33px;
}
.site-name img {
	width: 150px; 
	height: 37px
}
.logo {
	margin: 100px 0 40px 0;
}
.logo img{
	width: 150px; 
	height: 37px
}
.landing h1{
	font-size: 56px;
	font-weight: 300;
	color: #fff;
	margin: 30px 0 30px 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.landing p, .landing h2 {
	color: #fff;
}
.landing-text {
	margin-bottom: 20px;
}
.landing-text p {
	font-size: 17px !important; 
}
.head-btn {
	margin-bottom: 150px;
}
.option {
	text-transform: uppercase;
	padding: 5px;
	min-width: 80px;
	margin-right: 5px;
	transition: all 0.4s;
	font-size: 14px;
	color: #fff;
}
.signup-header-text {
	margin: 150px 0 100px;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;	
}
.signup-header {
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;	
	margin-bottom: 50px;
}
@media screen and (max-width: 1024px){
	.signup-header-text {
		margin: 0;
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;	
	}
	.signup-header {
		margin: 0;
		background: rgba(255,255,255,0.2);
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;	
	}
}
.signup-header h3{
	padding: 20px 0 10px;
	color: white;
	font-weight: 300;
}
.form-header input {
	position: relative;
	padding: 5px 15px;
}
.form-header .form-control {
	border-radius: 0;
	border: solid 1px #dadada;
	background-color: #fff;
	color: #333;
	height: 55px;
}
.form-header .btn {
	border-radius: 0;
	height: 55px;
	width: 100%;
	background-color: #3eb0f7;
	color: white;
	font-size: 17px !important;
	padding: 0 33px;
	border: none;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.form-header .btn:hover {
	background-color: #1f96e0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.privacy {
	padding-top: 0;
	font-size: 13px;
}
.signup-header p {
	color: white;
}
.privacy a {
	text-decoration: underline;
	color: white;
	font-weight: 300;
}
#policy {
	padding: 100px 0 70px;
}


.box {
	padding-bottom: 20px;
}

.step1 {
	z-index: 999;
}

.step2 .animated {
	-webkit-animation-delay: 1s; 
	animation-delay: 1s;
	position: relative;
	top: -6px;
}

.step3 .animated {
	-webkit-animation-delay: 2s; 
	animation-delay: 2s;
	z-index: -3;
	position:relative;
	top: -12px;
}

.step4 .animated {
	-webkit-animation-delay: 3s; 
	animation-delay: 3s;
	z-index: -5;
	position: relative;
	top: -18px;
}
.step5 .animated {
	-webkit-animation-delay: 3s; 
	animation-delay: 3s;
	z-index: -5;
	position: relative;
	top: -24px;
}

.shape {
	width: 150px;
	height: 120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	-webkit-box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
	-moz-box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
	box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
	top: 10px;
	left: 8px;
	text-align: center;
}

.shape-1 .shape{
	background: #B4D2F6;
}

.shape-1 .material-icons {
	color: #e74c3c;
}

.shape-2 .shape{
	background: #82B2EB;
}

.shape-2 .material-icons { 
	color: #34495e;
}

.shape-3 .shape {
	background: #5B97DF;
}

.shape-3 .material-icons { 
	color: #f39c12;
}

.shape-4 .shape {
	background: #3A7ED0;
}

.shape-4 .material-icons { 
	color: #3498db;
}
.shape-5 .shape {
	background: #1964BD;
}

.shape-5 .material-icons { 
	color: #3498db;
}

.number {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}

.basic-info{
	
}

.basic-info h1 {
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	padding-top: 8px;
	/* transform: scale(2,3); */
	-webkit-transform: scale(2,3);
	-moz-transform: scale(2,3);
	-ms-transform: scale(2,3);
	-o-transform: scale(2,3);
	font-size: 2em;
}

.info{
	padding: 40px 0px;
	text-align: center;
}

.box p {
	font-weight: lighter;
	padding-top: 25px;
	line-height: 33px;
	font-size: 20px;
}
