<div class="jumbotron hero-technology" ng-if="posts.length > 0" style="background-image: url('{{posts[0].image}}'); background-size: cover">
	<h1 class="hero-title">{{posts[0].title}}</h1>
	<!--<p class="hero-subtitle" ng-bind-html="posts[0].subtitle | unsafe"></p>-->
	<p><a class="btn btn-default btn-lg hero-button" role="button" href="" ng-click="goToPost(posts[0].slug)">Ler mais</a></p>
</div>

<!-- content -->
<div class="content">
	<div class="container">
		<div class="row search-result" ng-if="termo">
			<div class="col-md-12" ng-if="posts.length > 0">
				<h3>Resultados para: {{termo}}</h3>
			</div>
			<div class="col-md-12" ng-if="posts.length <= 0">
				<h3>Nenhum resultado para: {{termo}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4" ng-repeat="p in posts">
						<div class="l_g_r">
							<div class="card-blog">
								<div ng-click="goToPost(p.slug)" class="img-cover" style="background-image: url('{{p.image}}'); background-size: cover"></div>
								<div class="p-title">
									<h2 ng-click="goToPost(p.slug)">{{p.title}}</h2>
								</div>
								<p class="adm">
									{{p.views}} visualizações | Por {{p.user}}
								</p>

								<div class="p-content" ng-bind-html="p.content | limitTo : 256 | unsafe" ng-click="goToPost(p.slug)"></div>
								<div class="btn-action">
									<button ng-click="goToPost(p.slug)" type="button" class="btn btn-default btn-block">Ler mais</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<div class="single">
					<input type="button" ng-click="getPosts()" ng-if="showMore" id="btn-login" class="btn btn-primary btn-lg btn-block" value="Carregar mais">
				</div>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</div>
